

<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="CSS/index_Css.css">
<script type="text/javascript"></script>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../AgiCss.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" href="/app.js"></script>
<style type="text/css">
	
div#imgDiv {
	width: 400px;
	height: 200px;
	background:#FAF;
	margin-left: 60px;
	margin-top: 30px;
}

</style>

	<title>Node Application</title>
</head>
<body>
			

		 <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <div class="navbar-brand">Shared Services</div>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <div class="navbar-btn"><a href="#" class="btn btn-default">Home</a></div>
          </li>
          <li>
            <div class="navbar-btn"><a href="#" class="btn btn-default">Projects</a></div>
          </li>
          <li>
            <div id="btn-donate" class="navbar-btn btn btn-default">About</div>
          </li>
          <li>
            <div class="navbar-btn"><a href="#" class="btn btn-default">&copy; <%=getUserName()%></a></div>
          </li>
          <li>
            <div id="btn-logout1"class="navbar-btn btn btn-default">Gallery</div>
          </li>
          <li><div style="width: 10px;"></div></li>
          <li>
            <div id="btn-logout" class="navbar-btn btn btn-primary">Sign Out</div>
          </li>
        </ul>
      </div>
    </nav>
    <center>
    
</body>
</html>